<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="media/js/jquery-1.12.4.min.js"></script>
    <script src="media/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 菜单 -->
    <LINK rel=stylesheet type=text/css href="media/css/style.css">

    <style type="text/css">
        .lbt {
            margin-top: 40px;
            width: 700px;
        }

        .carousel-control.left {

            background-image: none;
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        }

        .carousel-control.right {
            left: auto;
            right: 0;

            background-image: none;
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        }

        .bodycolor {
            background-color: #EEEEEE;
        }

        .tb {
            border-bottom: #000000;
        }

        .sp {
            border-width: 5px;
            border-color: white;
            border-style: dashed;
            width: 240px;
            height: 300px;
            text-align: center;
        }

        .image {
            width: 220px;
            height: 200px;
            text-align: center;
        }

        .xpss {
            text-align: left;
        }
    </style>
    <!-- 菜单 -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#firstpane .menu_body:eq(0)").show();
            $("#firstpane p.menu_head").click(function () {
                $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
            $("#secondpane .menu_body:eq(0)").show();
            $("#secondpane p.menu_head").mouseover(function () {
                $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
        });
    </script>

</head>
<body class="bodycolor">
<!-- 导航条 -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 巨幕 -->
<div class="jumbotron ">
    <div class="col-lg-2 jumbotron"></div>
    <div class="col-lg-8 jumbotron">
        <h1>Cai篮网商城</h1>
        <p>领鲜每一天，安全送到家</p>
    </div>
    <div class="col-lg-2 jumbotron"></div>
</div>
<!-- 正文 -->
<div class="col-lg-1"></div>
<div class="col-lg-10">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
        <!-- 左侧 -->
        <div class="col-lg-4">
            <h3>菜单</h3>
            <div id="firstpane" class="menu_list">
                <div id="app-4">
                    <ol>
                        <li v-for="todo in todos">
                            <p class="menu_head current">{{ todo.oneType.typename }}</p>
                            <span v-for="to in todo.twoType">
								<div style="display:block" class="menu_body">
									<a href="javascript:void(0);" @click="fenlei(to.id)" :value="to.id">{{to.typename}}</a>
								</div>
							</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="col-lg-8 xpss">
            <div id="app-2">
                <h3 v-show="ok">分类查看</h3><br><br>
                <div>
                    <ol>
                        <li v-for="todo in todos">
                            <div class="col-lg-6">
                                <div class="sp">
                                    <img class="image" v-bind:src="todo.image"><br>
                                    <span>商品名称：</span>{{ todo.name }}<br>
                                    <span>商品价格：</span>{{ todo.oldprice }}元<br>
                                    <button @click="addCart(todo.id, todo.oldprice)" >加入购物车</button>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div>
                <h3>新品上市</h3><br><br>
                <div id="app-1">
                    <ol>
                        <li v-for="todo in todos">
                            <div class="col-lg-6">
                                <div class="sp">
                                    <img class="image" v-bind:src="todo.image"><br>
                                    <span>商品名称：</span>{{ todo.name }}<br>
                                    <span>商品价格：</span>{{ todo.oldprice }}元<br>
                                    <button @click="addCart(todo.id, todo.oldprice)" >加入购物车</button>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
<script>
	var userId = '';
    $(function () {
        /* 菜单 */
        $.post("http://10.8.155.55:8080/type/getType.do", null, function (data) {
            app4.todos = data.data;
        });

        /* 新品上市 */
        $.post("http://10.8.155.55:8080/commodity/getNewCommodity.do", {"num": "9"}, function (data) {
            app1.todos = data.data;
        });

        /* 获取登录用户信息 */
		$.post("http://localhost:8080/user/userMassage.do", null, function (data) {
			userId = data.data.id;
		});
    });

    // 按照分类展示商品
    var app2 = new Vue({
        el: "#app-2",
        data: {
            ok: false,
            todos: {}
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: {}
        },
        methods: {
        	fenlei: function (id) {
				$.post("http://localhost:8080/commodity/getCommodityByTypeId.do", {
						"id": id, "num": "6"
					}, function (data) {
						app2.ok = true;
						app2.todos = data.data;
					}
				);
			}
		}
    });

    var app1 = new Vue({
        el: '#app-1',
        data: {
            todos: {}
        },
		methods:{
			addCart: function (id, price) {
				$.post("http://localhost:8080/cat/add.do", {"cid": id, "number": "1", "price": price, "uid": userId}, function (data) {
					if (data.msg == "OK"){
						alert("已成功添加购物车");
					}
				});
			}
		}
    });
</script>

</body>
</html>
