<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="media/js/jquery-1.12.4.min.js"></script>
    <script src="media/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 菜单 -->
    <LINK rel=stylesheet type=text/css href="media/css/style.css">
    <style>
        body {
            background-color: #EEEEEE;
        }

        .ss {
            text-align: center;
        }


        li {
            list-style: none;
        }
    </style>

</head>
<body class="bodycolor">
<!-- 导航条 -->
<!-- 导航条 -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 巨幕 -->
<div class="jumbotron ">
    <div class="col-lg-2 jumbotron"></div>
    <div class="col-lg-8 jumbotron">
        <h1>Cai篮网商城</h1>
        <p>领鲜每一天，安全送到家</p>
    </div>
    <div class="col-lg-2 jumbotron"></div>
</div>
<div class="col-lg-12">
    <div class="col-lg-2" style="width: 284px;"></div>
    <div class="col-lg-8"><p>当前位置：会员中心</p></div>
    <div class="col-lg-2"></div>
</div>
<div class="col-lg-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <!-- 左侧 -->
        <div class="col-lg-1" style="width: 284px;">
            <div class="main_left" id="app-1-1"><h4>交易管理</h4>
                <ul>
                    <li><a href="javascript:void(0);" @click="myOrder">我的订单</a></li>
                </ul>
            </div>
            <div class="main_left" id="app-2-1"><h4>我的账户</h4>
                <ul>
                    <li><a href="javascript:void(0);" @click="myComment">商品收藏</a></li>
                </ul>
            </div>
            <div class="main_left" id="app-3-1"><h4>个人信息管理</h4>
                <ul>
                    <li><a href="javascript:void(0);" @click="myMassage">个人信息</a></li>
                    <li><a href="javascript:void(0);" @click="mySafety">安全中心</a></li>
                    <li><a href="javascript:void(0);" @click="myAddress">收货地址</a></li>
                </ul>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="col-lg-9 main_right">
            <!--订单-->
            <div id="app-1-2"  v-show="ok">
                <div><p>我的订单</p></div>
                <div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>订单号</th>
                                <th>金额</th>
                                <th>下单时间</th>
                                <th>订单状态</th>
                                <th>支付方式</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="todo in todos">
                                <td>{{todo.orderid}}</td>
                                <td>{{todo.totalmoney}}</td>
                                <td>{{todo.createtime}}</td>
                                <td>{{todo.state}}</td>
                                <td>{{todo.pay}}</td>
                                <td><a href="javascript:void(0)" @click="delOrder(todo.id)">删除</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--收藏-->
            <div id="app-2-2" v-show="ok">
                <div><p>商品收藏</p></div>
                <div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>商品名称</th>
                                <th>金额</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="todo in todos">
                                <td>{{todo.name}}</td>
                                <td>{{todo.oldprice}}</td>
                                <td><a href="javascript:void(0)" @click="delCollect(todo.uid,todo.cid)">删除</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--个人信息-->
            <div id="app-3-2-1">
                <div v-show="ok"><p>个人信息</p></div>
                <div>
                    <div>
                        <table class="table" v-show="ok">
                            <tr>
                                <th>用户名：{{todos.name}}</th>
                                <th>手机号：{{todos.phone}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--安全中心-->
            <div id="app-3-2-2" v-show="ok">
                <div><p>安全中心</p></div>
                <div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>登录密码</th>
                                <th><a href="javascript:void(0)" @click="tiaozhuan">修改</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--修改密码-->
            <div id="app-11" v-show="ok">
                <div><p>修改密码</p></div>
                <div>
                    旧密码：<input id="oldPassword" type="password" onblur="jiaoyan()">
                    <span id="tishi"></span><br/><br/>
                    新密码：<input id="newPassword" type="password"><br/><br/>
                    确认新密码：<input id="newPassword2" type="password"><span id="passMsg"></span><br/><br/>
                    <button onclick="updatePassword()">确认修改</button>
                </div>
            </div>
            <!--收货地址-->
            <div id="app-3-2-3"  v-show="ok">
                <div><p>已有{{abc}}收货地址</p></div>
                <div><a href="javascript:void(0)" @click="tiao">添加收货地址</a></div>
                <div>
                    <div>
                        <table class="table">
                            <tr>
                                <th>地址</th>
                                <th>收货人</th>
                                <th>联系电话</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="todo in todos">
                                <td>{{todo.detailAddress}}</td>
                                <td>{{todo.name}}</td>
                                <td>{{todo.phone}}</td>
                                <td>
                                    <a href="javascript:void(0)" @click="delAddress(todo.id)">删除</a> ||
                                    <a href="javascript:void(0)" @click="zhuan(todo.id)">修改</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--添加收货地址-->
            <div id="app-12" v-show="ok">
                <div><p>添加地址</p></div>
                <div>
                    收货地区：<input id="shdq" type="text"><br/><br/>
                    详细地址：<input id="xxdz" type="text"><br/><br/>
                    收货人姓名：<input id="name" type="text"><br/><br/>
                    电话号码：<input id="phone" type="text"><br/><br/>
                    <button onclick="insertAddress()">提交</button>
                </div>
            </div>
            <!--修改收货地址-->
            <div id="app-13" v-show="ok">
                <div><p>修改地址</p></div>
                <div>
                    收货地区：<input id="shdq1" type="text"><br/><br/>
                    详细地址：<input id="xxdz1" type="text"><br/><br/>
                    收货人姓名：<input id="name1" type="text"><br/><br/>
                    电话号码：<input id="phone1" type="text"><br/><br/>
                    <button onclick="updateAddress()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    var userId = '';
    var phone = '';
    var pass = '';
    $(function () {
        $.post("http://localhost:8080/user/userMassage.do", null, function (data) {
            userId = data.data.id;
            phone = data.data.phone;
            pass = data.data.password;
        });
    });


    var app1 = new Vue({
        el: "#app-1-1",
        methods: {
            myOrder: function () {
                $.post("http://localhost:8080/user/userOrder.do", {"uid": userId}, function (data) {
                    app1_1.todos = data.data;
                    app1_1.ok = true;
                    app2_1.ok = false;
                    app3_1.ok = false;
                    app3_1_2.ok = false;
                    app11.ok = false;
                    app3_3.ok = false;
                    app12.ok = false;
                    app13.ok = false;
                });
            }
        }
    });
    var app1_1 = new Vue({
        el: "#app-1-2",
        data: {
            ok: false,
            todos: {}
        },
        methods: {
            delOrder: function (id) {
                $.post("http://localhost:8080/order/delOrder.do", {"id": id}, function (data) {
                    if (data.data = "OK") {
                        alert("删除成功");
                        $.post("http://localhost:8080/user/userOrder.do", {"uid": userId}, function (data) {
                            app1_1.todos = data.data;
                            app1_1.ok = true;
                            app2_1.ok = false;
                            app3_1.ok = false;
                            app3_1_2.ok = false;
                            app11.ok = false;
                            app3_3.ok = false;
                            app12.ok = false;
                            app13.ok = false;
                        });
                    } else {
                        alert("删除失败")
                    }
                })
            }
        }
    });

    var app2 = new Vue({
        el: "#app-2-1",
        methods: {
            myComment: function () {
                $.post("http://localhost:8080/collect/SelectUserCollect.do", {"uid": userId}, function (data1) {
                    app2_1.todos = data1.data;
                    app3_1.ok = false;
                    app2_1.ok = true;
                    app1_1.ok = false;
                    app3_1_2.ok = false;
                    app11.ok = false;
                    app3_3.ok = false;
                    app12.ok = false;
                    app13.ok = false;
                });
            }
        }
    });
    var app2_1 = new Vue({
        el: "#app-2-2",
        data: {
            ok: false,
            todos: {}
        },
        methods: {
            delCollect: function (uid, cid) {
                $.post("http://localhost:8080/collect/delUserCollect.do", {"uid": uid, "cid": cid}, function (data2) {
                    if (data2.data = "OK") {
                        alert("删除成功");
                        $.post("http://localhost:8080/collect/SelectUserCollect.do", {"uid": userId}, function (data1) {
                            app2_1.todos = data1.data;
                            app2_1.ok = true;
                            app1_1.ok = false;
                            app3_1.ok = false;
                            app3_1_2.ok = false;
                            app11.ok = false;
                            app3_3.ok = false;
                            app12.ok = false;
                            app13.ok = false;
                        });
                    } else
                    {
                        alert("失败")
                    }
                })
            }
        }
    });

    var id = '';
    var app3 = new Vue({
        el: "#app-3-1",
        methods: {
            myMassage: function () {
                $.post("http://localhost:8080/user/userMassage.do", null, function (data1) {
                    app3_1.todos = data1.data;
                    app3_1.ok = true;
                    app2_1.ok = false;
                    app1_1.ok = false;
                    app3_1_2.ok = false;
                    app11.ok = false;
                    app3_3.ok = false;
                    app12.ok = false;
                    app13.ok = false;
                });
            },
            mySafety: function () {
                app3_1_2.ok = true;
                app3_1.ok = false;
                app2_1.ok = false;
                app1_1.ok = false;
                app11.ok = false;
                app3_3.ok = false;
                app12.ok = false;
                app13.ok = false;
            },
            myAddress: function () {
                $.post("http://localhost:8080/address/numberAddress.do", {"uid": userId}, function (data3) {
                    app3_3.abc = data3.data;
                });
                $.post("http://localhost:8080/address/allAddress.do", {"uid": userId}, function (data2) {
                    id = data2.data.id;
                    app3_3.todos = data2.data;
                    app3_3.ok = true;
                    app3_1.ok = false;
                    app2_1.ok = false;
                    app1_1.ok = false;
                    app3_1_2.ok = false;
                    app11.ok = false;
                    app12.ok = false;
                    app13.ok = false;
                })
            }
        }
    });
    var app3_3 = new Vue({
        el: "#app-3-2-3",
        data: {
            ok: false,
            todos: {},
            abc:{}
        },
        methods: {
            delAddress: function (id) {
                $.post("http://localhost:8080/address/delAddress.do", {"id": id}, function (data) {
                    if (data.data = "OK") {
                        alert("删除成功");
                        $.post("http://localhost:8080/address/numberAddress.do", {"uid": userId}, function (data3) {
                            app3_3.abc = data3.data;
                        });
                        $.post("http://localhost:8080/address/allAddress.do", {"uid": userId}, function (data2) {
                            app3_3.todos = data2.data;
                            app3_3.ok = true;
                            app3_1.ok = false;
                            app2_1.ok = false;
                            app1_1.ok = false;
                            app3_1_2.ok = false;
                            app11.ok = false;
                            app12.ok = false;
                            app13.ok = false;
                        });
                    } else {
                        alert("删除失败")
                    }
                })
            },
            zhuan: function() {
                    app3_3.ok = false;
                    app3_1.ok = false;
                    app2_1.ok = false;
                    app1_1.ok = false;
                    app3_1_2.ok = false;
                    app11.ok = false;
                    app12.ok = false;
                    app13.ok = true;
            },

            tiao: function () {
                app3_3.ok = false;
                app3_1.ok = false;
                app2_1.ok = false;
                app1_1.ok = false;
                app3_1_2.ok = false;
                app11.ok = false;
                app13.ok = false;
                app12.ok = true;
            }
        }
    });

    var app13 = new Vue({
        el: "#app-13",
        data: {
            ok: false,
            todos: {}
        }
    });

    var app12 = new Vue({
        el: "#app-12",
        data: {
            ok: false,
            todos: {}
        }
    });

    function updateAddress() {

        var shdq1 = $("#shdq1").val();
        var xxdz1 = $("#xxdz1").val();
        var name1 = $("#name1").val();
        var phone1 = $("#phone1").val();
        $.post("http://localhost:8080/address/updateAddress.do", {"address": shdq1, "detailAddress": xxdz1, "name": name1, "phone": phone1, "uid": userId, "id": id}, function () {
            $.post("http://localhost:8080/address/numberAddress.do", {"uid": userId}, function (data3) {
                app3_3.abc = data3.data;
            });
            $.post("http://localhost:8080/address/allAddress.do", {"uid": userId}, function (data2) {
                app3_3.todos = data2.data;
                app3_3.ok = false;
                app3_1.ok = false;
                app2_1.ok = false;
                app1_1.ok = false;
                app3_1_2.ok = false;
                app11.ok = false;
                app12.ok = false;
                app13.ok = true;
            });
        });

    }

    function insertAddress() {

        var shdq = $("#shdq").val();
        var xxdz = $("#xxdz").val();
        var name = $("#name").val();
        var phone = $("#phone").val();
        $.post("http://localhost:8080/address/insertAddress.do", {"address": shdq, "detailAddress": xxdz, "name": name, "phone": phone, "uid": userId}, function () {
            $.post("http://localhost:8080/address/numberAddress.do", {"uid": userId}, function (data3) {
                    app3_3.abc = data3.data;
            });
            $.post("http://localhost:8080/address/allAddress.do", {"uid": userId}, function (data2) {
                app3_3.todos = data2.data;
                app3_3.ok = true;
                app3_1.ok = false;
                app2_1.ok = false;
                app1_1.ok = false;
                app3_1_2.ok = false;
                app11.ok = false;
                app12.ok = false;
                app13.ok = false;
            });
        });

    }

    var app3_1 = new Vue({
        el: "#app-3-2-1",
        data: {
            ok: false,
            todos: {}
        }
    });
    var app3_1_2 = new Vue({
        el: "#app-3-2-2",
        data: {
            ok: false,
            todos: {}
        },
        methods: {
            tiaozhuan: function () {
                app11.ok = true;
                app3_1_2.ok = false;
                app3_1.ok = false;
                app2_1.ok = false;
                app1_1.ok = false;
                app12.ok = false;
                app13.ok = false;
            }
        }
    });
    function updatePassword() {

        var old = $("#oldPassword").val();
        var newPsd = $("#newPassword").val();
        $.post("http://localhost:8080/user/updateUserPassword.do", {"password": newPsd}, function () {
            app11.ok = false;
            app3_1_2.ok = true;
            app3_1.ok = false;
            app2_1.ok = false;
            app1_1.ok = false;
            app12.ok = false;
            app13.ok = false;
        })
    }

    var app11 = new Vue({
        el: "#app-11",
        data: {
            ok: false,
            todos: ''
        }
    });

    function jiaoyan() {
        var mm = $("#oldPassword").val();
        if (mm == pass) {
            $("#tishi").text("原密码正确").css("color","green");

        } else {
            $("#tishi").text("原密码错误").css("color","red");
        }
    };

    $("#newPassword2").blur(function(){
        var pass01= $("#newPassword").val();
        var pass02= $("#newPassword2").val();
        if(null==pass01 || ""==pass01 || null==pass02 || ""==pass02){
            $("#passMsg").text("密码不能为空").css("color","red");
        }else{
            if(pass01!=pass02){
                $("#passMsg").text("两次密码输入不一致，请重新输入").css("color","red");
            }else{
                $("#passMsg").text("");
            }
        }
    });
</script>
</body>
</html>
